/* Tipografía desde Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables globales */
:root {
  --bg-color-200:hsl(214, 25%, 11%);
  --bg-color-400:hsl(212, 19%, 16%);
  --bg-color-400-75:hsl(212, 19%, 16%, 75%);
  --bg-color-500:hsl(212, 19%, 25%);
  --text-color:hsl(215, 25%, 85%);
  --accent-color-200:hsl(22, 44%, 12%);
  --accent-color-400:hsl(22, 100%, 65%);
  --accent-color-500:hsl(22, 100%, 85%);

  --container-size: min(65rem, 100%)
}

/* Estilos generales */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0; /* Margen del body */
  background-color: var(--bg-color-200);
  color: var(--text-color);
  line-height: 1.6; /* Altura de los renglones */
}

main {
  padding: 1rem;
}

/*
Imágenes adaptables 

img {
  width: 100%;
}
*/

/* Ejemplo con Google Fonts
h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
*/

/* Estilos para el Header */
header {
  background-color: var(--bg-color-400);
  margin: 0; /* Márgen externo */
  padding: 16px; /* Márgen interno */
  text-align: center; /* text-align es una propiedad heredable. */
}

header h1 {
  margin: 0;
}

header ul {
  list-style: none; /* Quitarle el estilo a la lista */
  padding: 0; /* Quitar el padding a la lista */
  flex-direction: row;
  display: flex; 
  justify-content: center;
  gap: 2rem;
}

/* Links para el nav */
/* Reposo y Visitado*/
header nav a:link,
header nav a:visited {
  color: var(--text-color);
  text-decoration: none;
}
/* Hover y Active*/
header nav a:hover,
header nav a:active {
  color: var(--accent-color-400);
}

/* Estilos para las secciones */
section {
  width: var(--container-size);
  margin: 0 auto;
}

/* Párrafos en las secciones */
p {
  font-size: 1rem; /* (16px) */
  width: min(40rem, 100%);
}

section h1 {
  text-align: center; /* centrar el texto */
  font-size: 2.5rem; /* modifica el tamaño del cuerpo de la tipografía */
  /* 1rem = 16px */
  font-weight: 400; /* grosor del trazo */
  /* font-style: italic; */ /* Variable de inclinación */
}

/* Sección de bienvenida */
#bienvenida {
  background-image: url('../img/bienvenida.jpg');
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bienvenida h1 {
  background-color: var(--bg-color-400-75);
  padding: 1rem 0;
}

/* Links para las secciones */
/* Reposo y Visitado*/
a:link,
a:visited {
  color: var(--accent-color-400);
  text-decoration: none;
}
/* Hover y Active*/
a:hover,
a:active {
  color: var(--accent-color-500);
}


/* Clase 2 / 3 */
/* Modelo de caja */
.modelo-de-caja {
  border: 0.2rem solid var(--accent-color-400); /* grosor del borde, estilo, color */
  border-radius: 1rem;
  text-align: center;
  padding: 1rem; /* Margen interno */
  background-color: var(--bg-color-400);
  margin: 4rem auto; /* 16px arriba y abajo / izquierda y derecha*/
  width: min(22rem, 95%); /* Ancho */
  height: 8rem; /* Alto */
}

/* Clase 4 */
.contenedor-flex {
  padding: 1rem;
  border: 0.15rem solid var(--accent-color-500);
  display: flex; /* Aplica sobre el contenedor */
  flex-direction: row; /* Dirección del eje principal */
  justify-content: space-between; /* Justifica el eje principal */
  align-items: stretch; /* Justifica el eje secundario */
  gap: 1rem; /* Distancia entre elementos */

  height: 24rem;
}

.item {
  text-align: center;
  border: 0.15rem solid var(--accent-color-400);
  padding: 1rem;
  width: 14rem;
}

/* Clase 5 / Flexbox */


/* Estilos para el footer */
footer {
  background-color: var(--bg-color-400);
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

footer h1 {
  font-size: 1rem;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer img {
  width: 2rem;
}